<!DOCTYPE html>
<html>
<head>
<th:block th:fragment="scripts">
<!-- inject:js -->
<script src="/js/libs/handlebars.js"></script>
<script src="/js/libs/jquery.js"></script>
<script src="/js/libs/underscore.js"></script>
<script src="/js/libs/backbone.js"></script>
<script src="/js/libs/backbone.localStorage.js"></script>
<script src="/js/libs/bootstrap.js"></script>
<!-- endinject -->
</th:block>
<th:block th:fragment="css">
<!-- inject:css -->
<link rel="stylesheet" href="/js/libs/bootstrap.css" />
<link rel="stylesheet" href="/js/libs/font-awesome.css" />
<link rel="stylesheet" href="/css/styles.css" />
<!-- endinject -->
</th:block>
</head>
<body>
</body>
</html>