<!DOCTYPE html>
<html>
<head>
<title>DataBinding Case Study</title>
<th:block th:include="head :: scripts"></th:block>
<th:block th:include="head :: css"></th:block>
<script src="js/map-databinding.js"></script>
<script type="text/x-handlebars-template" id="user-row-template">
<td><input type="hidden" name="users[{{key}}].id" value="{{id}}"/>{{id}}</td>
<td><input type="hidden" name="users[{{key}}].name" value="{{name}}"/>{{name}}</td>
<td><input type="hidden" name="users[{{key}}].email" value="{{email}}"/><a href="mailto:{{email}}">{{email}}</a></td>
<td><input type="button" class="edit-user-btn" value="Edit" data-id="{{id}}"/></td>
<td><input type="button" class="delete-user-btn" value="Delete" data-id="{{id}}"/></td>
</script>
</head>
<body>
	<th:block th:include="nav :: nav"></th:block>
	<div class="container">
		<div class="starter-template">
			<h1>JPA</h1>
			<p class="lead">Perform databinding on a Collection retrieved from a Spring's @Repository</p>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form id="new-user-form" method="post">
					<table id="user-table-template" class="table table-striped">
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Email</th>
								<th colspan="2">Action</th>
							</tr>
							<tr>
								<td>New</td>
								<td><input type="text" name="name" placeholder="Enter Name" /></td>
								<td><input type="text" name="email" placeholder="Enter Email" /></td>
								<td colspan="2"><input type="button" id="add-new-user-btn" value="Add" /></td>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${form.users} != null" th:each="user: ${form.users.values()}">
								<td th:text="${user.id}">1</td>
								<td th:text="${user.name}" class="editable" data-model-attr="name">John</td>
								<td class="editable" data-model-attr="email"><a th:text="${user.email}" th:href="|mailto:${user.email}|">john@mail.com</a></td>
								<td><input type="button" class="edit-user-btn" value="Edit" th:attr="data-id=${user.id}"/></td>
								<td><input type="button" class="delete-user-btn" value="Delete" th:attr="data-id=${user.id}"/></td>
							</tr>
						</tbody>
					</table>
					<input type="submit" value="Save" />
				</form>
			</div>
		</div>
	</div>
</body>
</html>