<!DOCTYPE html>
<html>
<head>
<title>DataBinding Case Study</title>
<th:block th:include="head :: scripts"></th:block>
<th:block th:include="head :: css"></th:block>
<script src="/js/list-databinding.js"></script>
<script type="text/x-handlebars-template" id="user-row-template">
      <tr>
        <td><input type="hidden" name="users[{{index}}].name" value="{{name}}"/>{{name}}</td>
        <td><input type="hidden" name="users[{{index}}].email" value="{{email}}"/><a href="mailto:{{email}}">{{email}}</a></td>
        <td></td>
      </tr>
</script>
</head>
<body>
	<th:block th:include="nav :: nav"></th:block>
	<div class="container">
		<div class="starter-template">
			<h1>JPA</h1>
			<p class="lead">Perform databinding on a Collection retrieved from a Spring's @Repository</p>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form id="new-user-form" method="post">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody id="user-table-template">
							<tr>
								<td><input type="text" name="name" placeholder="Enter Name" /></td>
								<td><input type="text" name="email" placeholder="Enter Email" /></td>
								<td><button id="add-new-user-btn">Add</button></td>
							</tr>
							<tr th:each="user: ${form.users}">
								<td th:text="${user.name}">John</td>
								<td><a th:text="${user.email}" th:href="|mailto:${user.email}|">john@mail.com</a></td>
								<td></td>
							</tr>
						</tbody>
					</table>
					<input type="submit" value="Save" />
				</form>
			</div>
		</div>
	</div>
</body>
</html>